$amount10: 10%;
$amount25: 25%;
$amount50: 50%;
$amount75: 75%;
$amount90: 90%;

// BASE
$color-white: #FFFFFF;
$color-black: #000000;

// / THEME
$base-purple: #9b4dca;
$gray-dark: #606c76;

// 3 shades of grey
$base-grey: #ccc;

$color-light-gray: mix($base-grey, $color-white, $amount25);
$color-medium-gray: mix($base-grey, $color-black, $amount50);
$color-dark-gray: mix($base-grey, $color-black, $amount75);

