// Fonts

@import url("https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,800");

@font-face {
	font-family: 'PeaceSans';
	src:  url("../assets/fonts/Peace_Sans.otf") format("opentype"),
	url("../assets/fonts/Peace_Sans_Webfont.ttf") format("truetype");
}

// Fonts weight
$font-100: 100;
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;


// Font family variables
$Kanit: "Kanit", sans-serif;
