/**
THEME COLORS
 */

$RICH-BRILLIANT-LAVENDER: #FAA6FF;
$ROYAL-PURPLE: #7353BA;
$RUSSIAN-VIOLET: #2F195F;
$EERIE-BLACK: #0F1020;
$ELECTRIC-LAVENDER: #EFC3F5;

// Theme
$rasin-black: #222222;
$color-white: #FFFFFF;
$color-primary-blue: #1C5D99;
$color-secondary-blue: #639FAB;
$color-light-blue: #BBCDE5;
