@import "../Abstracts/variables";
@import "../Abstracts/mixins";
@import "../Base/fonts";
@import "../Themes/Theme.scss";
@import "../Base/typography";

//#TODO Styled form as in tutorial

.main-form {
	width: 90%;
	max-width: $M; // breakpoints inside partials > _typography.scss
	margin: 4em auto;
	@include clearfix;

	fieldset {
		margin: 24px 0;
	}

	&__label {
		@include font-size(1.3);
		color: $color-light-blue;
		margin-bottom: 10px;
		display: block;

		&--unit {
			@include font-size(1.6);
			color: $gray-dark;
			font-weight: $font-400;
		}
	}

	&__header-wrapper {
		display: grid;
		grid-template-columns: 0 1fr 2fr 1fr;
	}

	&__header {
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-size: 2rem;
		border-bottom: 1px solid #ecf0f1;
		display: block;
		width: 100%;
		font-weight: 400;
		-webkit-appearance: none;
		font-family: "Open Sans", sans-serif;
		//background: $color-3;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 0 1fr 2fr 1fr;
	}

	&__container {
		grid-column-end: 4;
		//border: 1px solid $color-dark-gray;
		//padding: 35px;

		.weight-container {
			grid-template-columns: 1fr 70px 1fr;
			display: grid;
			grid-gap: 7px;
			grid-template-rows: 76px;
		}
	}

	&__error-container {
		grid-column-end: 4;
	}

	&__error-message {
		@include font-size(1.4);
		line-height: 1.2rem;

		strong {
			color: $base-purple;
		}
	}

	&__input-container {
		margin: 20px 0;
	}

}

.has-danger {
	input[type=text], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=url], select, textarea {
		outline: none;
		box-shadow: 0 0 5px rgba(232, 52, 59, 1);
		margin: 5px 1px 3px 0px;
		border: 1px solid rgba(232, 52, 59, 1);
	}
}

.main-form {
	input[type="text"],
	input[type="email"],
	input[type="number"],
	textarea,
	select,
	legend {
		display: block;
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
	}

	input, textarea, select, label {
		font-family: "Open Sans", sans-serif;
		font-size: 1.6rem;
		color: $rasin-black;
	}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	textarea,
	select {
		padding: 1.5rem;
		border: 1px solid darken($color-light-blue, .1%);
		background-color: $color-white;
		border-radius: .25rem;
		box-shadow: inset 0 1px 1px rgba($rasin-black, .08);
		height: auto;

		&:focus {
			outline: none;
			border-color: $color-primary-blue;
			box-shadow: 0 0 5px rgba($color-primary-blue, .2);
		}
	}

	&__select {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			right: 16px;
			top: 50%;
			margin-top: -8px;
			width: 16px;
			height: 16px;

			display: block;

			background: url("../assets/icons/ic_expand_more_black_24dp_1x.png") no-repeat center center;
			pointer-events: none;
		}
	}

	select {
		box-shadow: 0 1px 3px rgba($rasin-black, .08);
		cursor: pointer;

		&::-ms-expand {
			display: none;
		}
	}
}

.main-form {

	.icon input, .icon select {
		padding-left: 54px;
	}

	&__input {
		&--weight {
			max-height: 50px;
			padding-left: 8px;
		}
	}

	svg {
		position: absolute;
		/* margin-top: -13px; */
		transform: translateY(50%);
		margin-left: 13px;
		fill: #ecf0f1;
	}
}

/* --------------------------------
FLoating labels
-------------------------------- */

.js .floating-labels {
	div {
		margin: 28px 0;
		position: relative;
	}

	.main-form__label {
		position: absolute;
		top: 13px;
		left: 56px;
		@include font-size(1.6);
		cursor: text;
		transition: top .2s, left .2s, font-size .2s;
	}

	.icon .main-form__label {
		left: 56px;
	}

	.float {
		/* move label out the input field */
		font-size: 1.2rem;
		top: -16px;
		left: 0 !important;
	}
}

#type1 .main-form__input--weight {
	padding-left: 8px;
}
