.main {
	&__header {
		background-image: linear-gradient(
			to right bottom,
				rgba($color-primary-blue, .6), rgba($rasin-black , 0.8)
		), url('../assets/img/brooke-lark-275181.jpg');
		height: 55vh;
		background-size: cover;
		background-position: center;
		//clip-path: polygon(0 15%, 100% 0, 100% 47vh, 0 100%);
		z-index: -1;
		position: relative;
		transform: skewY(-7deg);
		box-shadow: 0 1.5rem 4rem rgba($rasin-black, .15);
	}

	&__text-box {
		@include centered-vertical(50%, 50%);
	}

	&__heading-primary {
		text-transform: uppercase;
		color: $color-white;
		width: 135%;
	}

	&__heading-main {
		display: block;
		font-size: 6rem;
		font-weight: 900;
		letter-spacing: 0.5rem;

		span {
			font-size: 6rem;
			color: $color-primary-blue;
			@include font-size(10);
			@include font-family('PeaceSans');
			display: inline-block;
			transform: translateY(25px);

			&:hover {
				transform: scale(1.2);
			}
		}

		@include MQ(M) {
			letter-spacing: 1.5rem;
		}
		//font-family: 'PeaceSans', sans-serif;
	}

	&__heading-sub {
		display: block;
		font-size: 2rem;
		letter-spacing: 1.3rem;
		//font-family: 'PeaceSans', sans-serif;
	}
}
