@import "../Base/_colors.scss";
@import "../Base/_mixins.scss";
//@import '../State/Peace_Sans.scss';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.full-overlay {
	position: absolute;
	z-index: 1;
	height: 100vh;
	@include dark-overlay;
}

.full-overlay:after{
	background:rgba(0, 0, 0, 0.75);
}

.hide {
	display: block;
}
