@import "Base/_colors.scss";
@import "Base/_mixins.scss";


#root {
	.test_product {
		.secondary_product {
			color: darkgray;
		}
	}
}

.pl-mobile-dictionary {
	&__container {
		display: grid;
		grid-template-columns: 20px 0 2fr 0 20px;
		grid-template-rows: 25% 100% auto;
	}

	&__form-container {
		grid-column-end: 4;
	}

	&__error-message-container {
		grid-column-end: 4;

		&--message {
			@include font(1.4);
			line-height: 1.2rem;

			strong {
				color: $base-purple;
			}
		}
	}
}

.hide {
	display: none;
}

input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.has-danger {
	input[type=text] {
		outline: none;
		box-shadow: 0 0 5px rgba(232, 52, 59, 1);
		margin: 5px 1px 3px 0px;
		border: 1px solid rgba(232, 52, 59, 1);
	}
}


.pl-mobile-dictionary {
	&__input-container {
		margin: 20px 0;
	}
}
