$amount10: 10%;
$amount25: 25%;
$amount50: 50%;
$amount75: 75%;
$amount90: 90%;

// BASE
$color-white: #FFFFFF;
$color-black: #000000;

// / THEME
$base-purple: #9b4dca;
$gray-dark: #606c76;

// NAV
$side-nav-bg: #131519;
$home-nav: #83b0b9;

// 3 shades of grey
$base-grey: #ccc;

// FORM
$label-gray: #94aab0;

$color-light-gray: mix($base-grey, $color-white, $amount25);
$color-medium-gray: mix($base-grey, $color-black, $amount50);
$color-dark-gray: mix($base-grey, $color-black, $amount75);

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-error: darken(#FF7730, 10%);

$color-grey-light: #777;
$color-white: #FFF;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
